<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Project4</display-name>
  <welcome-file-list>
    <welcome-file>rootHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>rootSQLCommands</display-name>
    <servlet-name>rootSQLCommands</servlet-name>
    <servlet-class>rootSQLCommands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rootSQLCommands</servlet-name>
    <url-pattern>/rootSQLCommands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientSQLCommands</display-name>
    <servlet-name>clientSQLCommands</servlet-name>
    <servlet-class>clientSQLCommands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientSQLCommands</servlet-name>
    <url-pattern>/clientSQLCommands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suppliersSQLCommands</display-name>
    <servlet-name>suppliersSQLCommands</servlet-name>
    <servlet-class>suppliersSQLCommands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suppliersSQLCommands</servlet-name>
    <url-pattern>/suppliersSQLCommands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>partsSQLCommands</display-name>
    <servlet-name>partsSQLCommands</servlet-name>
    <servlet-class>partsSQLCommands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>partsSQLCommands</servlet-name>
    <url-pattern>/partsSQLCommands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jobsSQLCommands</display-name>
    <servlet-name>jobsSQLCommands</servlet-name>
    <servlet-class>jobsSQLCommands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobsSQLCommands</servlet-name>
    <url-pattern>/jobsSQLCommands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shipmentsSQLCommands</display-name>
    <servlet-name>shipmentsSQLCommands</servlet-name>
    <servlet-class>shipmentsSQLCommands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shipmentsSQLCommands</servlet-name>
    <url-pattern>/shipmentsSQLCommands</url-pattern>
  </servlet-mapping>
</web-app>